<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
      <div class="card mt-5">
        <div class="card-header">
          <div class="row">
            <div class="col-1">
              <%= link_to fa_icon('angle-left'), projects_path, class: 'btn btn-dark' %>
            </div>
            <div class="col-11">
              <%= simple_form_for(@project) do |f| %>
                <div class="input-group mb-4">
                  <%= f.text_field :name, class: 'form-control' %>
                  <div class="input-group-append">
                    <%= f.submit 'Update', class: 'btn btn-primary input-group-btn' %>
                  </div>
                </div>
              <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
