<div class="card-header d-flex justify-content-between">
  <span>
    <h4><b><%= @project.name %></b></h4>
  </span>
  <%= link_to fa_icon('pencil'), edit_project_path(@project) %>
</div>

<ul class="list-group">
  <% @project.tasks.each do |task| %>
    <li class='list-group-item'>
      <%= task.name %>
    </li>
  <% end %>
</ul>
